@media screen and (min-width: 350px) {

    body {
        max-width: 480px;
    }

    nav {
        visibility: hidden;
        display: none;

    }

    .desktop__button {

        visibility: hidden;
        display: none;
    }

    .contentInfoTwo {

        visibility: hidden;

    }

    .desktop__buttonTwo {
        visibility: hidden;
        display: none;



    }

}


@media screen and (min-width: 1280px) {

    body {

        max-width: 1400px;
        height: 100vh;

    }

    h1 {

        font-size: 1.4em;
        margin-top: 5%;
        margin-bottom: 0;
    }

    nav {
        margin-top: 5%;
        visibility: visible;
        display: flex;
        justify-content: center;
        font-size: 1em;
        font-weight: 700;
        padding-bottom: 2%;
    }

    #nav-hover:hover {

        color: rgba(138, 207, 229, 1);
    }

    #mainImage {

        height: 50%;
    }


    .userExample {

        display: flex;

    }

    .desktop__button {

        visibility: visible;
        display: inline;
        background-color: rgba(227, 23, 10, 1);
        color: white;
        padding: 10px;
        font-weight: 700;
        border-radius: 4px;
        display: flex;
        margin-left: 20%;
        margin-right: -20%;


    }

    .userExample__button,
    .desktop__button {
        width: 308px;
        display: inline;
        margin-top: -2%;


    }


    small {

        visibility: hidden;

    }

    .container {

        width: 100%;
    }

    .box {

        display: flex;

    }

    .contentInfoOne__text {
        margin-right: 5px;
        width: 65%;
        line-height: normal;

    }


    .contentInfoTwo {
        visibility: visible;

    }

    .contentInfoTwo__text {

        line-height: normal;
        display: flex;
        font-style: italic;
        text-align: start;
        margin: auto;
        margin-left: 25%;
    }

    .contentInfoTwo img {
        width: 20%;
        float: left;
        margin-left: 10%;
    }

    .contentInfoOne img {

        margin-left: 10%;
    }

    .contentInfoTwo p {

        margin-top: 3%;
    }


    h2 {
        text-align: center;
    }

    .on-site {

        display: flex;
    }


    .desktop__buttonTwo {
        visibility: visible;
        display: flex;
        background-color: rgba(227, 23, 10, 1);
        color: white;
        padding: 10px;
        font-weight: 700;
        border-radius: 4px;
        margin-left: 30%;
        margin-right: -0%;

    }

    .on-site__button,
    .desktop__buttonTwo {
        width: 308px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .on-site__button {
        margin-top: 6%;

    }

    .container small {

        visibility: visible;
    }

    div.slideOne {

        margin-left: 10%;
    }

    div.slideTwo {

        margin-left: 15%;
    }

    div.slideThree {

        margin-left: 20%;
    }

    .theStory {

        width: 100%;
        text-align: center;
    }

    h4 {

        width: 50%;
        margin: auto;
        margin-bottom: 5%;
    }

    .bookOn-site {

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .bookOn-site img:first-child {

        width: 100%;
    }

    
    .bookOn-site text,
    h5 {
height: 11vh;
        margin: 0;
        margin-left: 5%;
       

    }

    .bookOn-site__button {
margin-top:10%;
        width: 30%;
        height: 8vh;

    }

    .playAndSee img {

        width: 50%;
        float: right;
        margin-top: -4%;



    }


    .playAndSee__button,
    .playAndSee text,
    h6 {

        width: 35%;
        align-items: center;


    }

    .playAndSee__button {
        width: 20%;
        margin-top: 0;

    }


    footer {

        display: flex;

    }

    .contactLinks {
        display: flexbox;
        margin: 2% 5% 2% 10%;
        width: 40%;
    }

    .site-Map {

        width: 20%;
        margin-left: 6%;
        margin-right: 10%;
        margin-top: 2.5%;
    }

    .socialLinks {
        display: block;
        width: 40%;
        align-items: center;
        justify-content: center;
        display: flexbox;
        margin-left: 0%;
        margin-top: 1.8%;

    }


}

@media screen and (min-width: 900px) {
    body {
        max-width: 1279px;
        width: 900px;
    }

    h1 {

        width: 60%;
        margin-top: 7%;
        margin-bottom: 0;
    }

    nav {
        margin: auto;

        margin-top: 7%;
        visibility: visible;
        display: flex;
        justify-content: center;
        font-size: 1em;
        font-weight: 700;
        padding-bottom: 2%;
    }

    #nav-hover:hover {

        color: rgba(138, 207, 229, 1);
    }

    #mainImage {

        height: 80%;
    }


    .userExample {

        display: flex;

    }

    .desktop__button {

        visibility: visible;
        display: flex;
        background-color: rgba(227, 23, 10, 1);
        color: white;
        padding: 10px;
        font-weight: 700;
        border-radius: 4px;
        display: flex;
        margin-left: 7%;
        margin-right: 0%;


    }

    .userExample__button,
    .desktop__button {
        width: 308px;
        display: inline;
        margin-top: -2%;


    }


    small {

        visibility: hidden;

    }

    .container {

        width: 100%;
    }

    .box {

        display: flex;

    }

    .contentInfoOne__text {
        margin-right: 0px;
        width: 55%;
        margin-left: 0px;
        line-height: normal;
        font-size: 0.8em;

    }

    .contentInfoOne p {

        margin-left: 0%;
        font-size: 0.6em;
    }

    .contentInfoTwo {
        visibility: visible;

    }

    .contentInfoTwo__text {
        width: 55%;
        line-height: normal;
        display: flex;
        font-style: italic;
        text-align: start;
        margin: auto;
        font-size: 0.8em;
        margin-left: 1%;

    }

    .contentInfoTwo img {
        width: 20%;
        float: left;
        margin-left: -8%;
    }

    .contentInfoOne img {

        margin: 0px;
    }

    .contentInfoTwo p {
        margin-top: 1.5%;
        margin-left: 13%;
        font-size: 0.6em;
    }


    h2 {
        text-align: center;
    }

    .on-site {

        display: flex;
    }


    .desktop__buttonTwo {
        visibility: visible;
        display: flex;
        background-color: rgba(227, 23, 10, 1);
        color: white;
        padding: 10px;
        font-weight: 700;
        border-radius: 4px;
        margin-left: 20%;
        margin-right: 5%;

    }

    .on-site__button,
    .desktop__buttonTwo {
        width: 308px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;

    }

    .on-site__button {
        margin-top: 7%;

    }

    .container small {

        visibility: visible;
    }


    div.slideOne {
        width: 240px;
        height: 105%;
        margin-left: 5%;

    }

    div.slideTwo {
        width: 240px;
        height: 105%;
        margin-left: 5%;
    }

    div.slideThree {
        width: 240px;
        height: 105%;
        margin-left: 5%;
    }

.container button {
width: 50%;
    margin-left: 40%;
}

h3 {

    font-size: 0.8em;
}

    .theStory {

        width: 100%;
        text-align: center;
    }

    h4 {

        width: 50%;
        margin: auto;
        margin-bottom: 5%;
    }

    .bookOn-site {

        display: flex;
       margin: 0;

    }


    
    .bookOn-site img:first-child {

        width: fit-content;
    }



    .bookOn-site__button,
    .bookOn-site text,
    h5 {
font-size: 1em;
      

    }

    .bookOn-site__button {

        width: 60%;
        margin-left: 20%;

    }

    .playAndSee img {

        width: 420px;
        float: right;
        margin-top: -4%;
        height: 55vh;
        



    }


    .playAndSee__button,
    .playAndSee__text,
    h6 {
font-size: 1em;
        width: 40%;
        align-items: center;


    }

    .playAndSee__button {
        width: 30%;
        margin-top: 0;
        margin-left: 10%;

    }


    footer {

        display: flex;

    }

    .contactLinks {
        display: flexbox;
        margin: 2% 5% 2% 10%;
        width: 40%;
    }

    .contactLinks text {

        font-size: 0.7em;
    }

    .site-Map {

        width: 20%;
        margin-left: 6%;
        margin-right: 10%;
        margin-top: 2.5%;
    }

    .socialLinks {
        display: block;
        width: 40%;
        align-items: center;
        justify-content: center;
        display: flexbox;
        margin-left: 0%;
        margin-top: 1.8%;

    }
}
